In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
 s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# 行：index, 列：column
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.254126 -1.036283 -0.416626  1.037404
2013-01-02  0.157464 -2.348315  1.012839 -0.591820
2013-01-03  0.442885 -0.615869 -1.225870  1.292639
2013-01-04  0.333932  0.263891  0.503630  0.350757
2013-01-05 -1.156753  0.165302 -1.396539 -0.287601
2013-01-06 -0.232504  0.160978  1.080135  1.076011

In [7]:
df2 = pd.DataFrame({ 'A' : 1.,
                                       'B' : pd.Timestamp('20130102'),
                                       'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                                       'D' : np.array([3] * 4,dtype='int32'),
                                       'E' : pd.Categorical(["test","train","test","train"]),
                                       'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
 df.sort_index(ascending=False) #　インデックス(行)をソート

                   A         B         C         D
2013-01-06 -0.232504  0.160978  1.080135  1.076011
2013-01-05 -1.156753  0.165302 -1.396539 -0.287601
2013-01-04  0.333932  0.263891  0.503630  0.350757
2013-01-03  0.442885 -0.615869 -1.225870  1.292639
2013-01-02  0.157464 -2.348315  1.012839 -0.591820
2013-01-01  0.254126 -1.036283 -0.416626  1.037404

In [15]:
 df.sort_index(axis=1, ascending=False) #カラム列をソート

                   D         C         B         A
2013-01-01  1.037404 -0.416626 -1.036283  0.254126
2013-01-02 -0.591820  1.012839 -2.348315  0.157464
2013-01-03  1.292639 -1.225870 -0.615869  0.442885
2013-01-04  0.350757  0.503630  0.263891  0.333932
2013-01-05 -0.287601 -1.396539  0.165302 -1.156753
2013-01-06  1.076011  1.080135  0.160978 -0.232504

In [16]:
df.sort_values(by='B')#特定のカラムの値でソート

                   A         B         C         D
2013-01-02  0.157464 -2.348315  1.012839 -0.591820
2013-01-01  0.254126 -1.036283 -0.416626  1.037404
2013-01-03  0.442885 -0.615869 -1.225870  1.292639
2013-01-06 -0.232504  0.160978  1.080135  1.076011
2013-01-05 -1.156753  0.165302 -1.396539 -0.287601
2013-01-04  0.333932  0.263891  0.503630  0.350757

In [17]:
 df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.157464 -2.348315  1.012839 -0.591820
2013-01-03  0.442885 -0.615869 -1.225870  1.292639
2013-01-04  0.333932  0.263891  0.503630  0.350757

In [18]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.254126 -1.036283
2013-01-02  0.157464 -2.348315
2013-01-03  0.442885 -0.615869
2013-01-04  0.333932  0.263891
2013-01-05 -1.156753  0.165302
2013-01-06 -0.232504  0.160978

In [21]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.157464 -2.348315
2013-01-03  0.442885 -0.615869
2013-01-04  0.333932  0.263891

In [23]:
ilocメソッド#Selection by Label
df
locメソッド# Selection by Position

                   A         B         C         D
2013-01-01  0.254126 -1.036283 -0.416626  1.037404
2013-01-02  0.157464 -2.348315  1.012839 -0.591820
2013-01-03  0.442885 -0.615869 -1.225870  1.292639
2013-01-04  0.333932  0.263891  0.503630  0.350757
2013-01-05 -1.156753  0.165302 -1.396539 -0.287601
2013-01-06 -0.232504  0.160978  1.080135  1.076011

In [30]:
#df.iloc[3:5,0:2]
#df.iloc[[1,2,4],[0,2]]
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.157464 -2.348315  1.012839 -0.591820
2013-01-03  0.442885 -0.615869 -1.225870  1.292639

In [31]:
#Boolean Indexing
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.254126 -1.036283 -0.416626  1.037404
2013-01-02  0.157464 -2.348315  1.012839 -0.591820
2013-01-03  0.442885 -0.615869 -1.225870  1.292639
2013-01-04  0.333932  0.263891  0.503630  0.350757

In [33]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.254126       NaN       NaN  1.037404
2013-01-02  0.157464       NaN  1.012839       NaN
2013-01-03  0.442885       NaN       NaN  1.292639
2013-01-04  0.333932  0.263891  0.503630  0.350757
2013-01-05       NaN  0.165302       NaN       NaN
2013-01-06       NaN  0.160978  1.080135  1.076011

In [38]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2
#df2[df2['E'].isin(['two','four'])]
df2[df2.E.isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.442885 -0.615869 -1.225870  1.292639   two
2013-01-05 -1.156753  0.165302 -1.396539 -0.287601  four