In [195]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [196]:
 s = pd.Series([1,3,5,np.nan,6,8])

In [197]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [198]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [199]:
np.random.randn(6,4)

array([[-0.32811455,  0.28052988,  2.19170213,  0.0298653 ],
       [-1.25862988, -0.32453593,  0.87302869, -1.35670161],
       [-1.90710509, -0.09229906, -0.07267597,  0.146808  ],
       [-0.72840881,  0.23898223,  0.33368787,  0.31897925],
       [ 0.56742465, -1.33327342, -1.39274149,  2.55052659],
       [ 0.0361067 , -0.47034714,  0.69152267,  0.76134562]])

In [200]:
# 行：index, 列：column
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.736452  1.267368  0.134238 -0.130367
2013-01-02 -0.384739  0.113362 -0.338618  0.064892
2013-01-03 -0.846161  2.027259  0.530861  0.534587
2013-01-04  0.367446  0.545569 -0.909681  1.146014
2013-01-05 -0.323459  0.699540 -1.342635 -0.351160
2013-01-06  1.098581  0.571586 -0.199023  0.885765

In [201]:
df2 = pd.DataFrame({ 'A' : 1.,
                                       'B' : pd.Timestamp('20130102'),
                                       'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                                       'D' : np.array([3] * 4,dtype='int32'),
                                       'E' : pd.Categorical(["test","train","test","train"]),
                                       'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [202]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [203]:
 df.sort_index(ascending=False) #　インデックス(行)をソート

                   A         B         C         D
2013-01-06  1.098581  0.571586 -0.199023  0.885765
2013-01-05 -0.323459  0.699540 -1.342635 -0.351160
2013-01-04  0.367446  0.545569 -0.909681  1.146014
2013-01-03 -0.846161  2.027259  0.530861  0.534587
2013-01-02 -0.384739  0.113362 -0.338618  0.064892
2013-01-01  0.736452  1.267368  0.134238 -0.130367

In [204]:
 df.sort_index(axis=1, ascending=False) #カラム列をソート

                   D         C         B         A
2013-01-01 -0.130367  0.134238  1.267368  0.736452
2013-01-02  0.064892 -0.338618  0.113362 -0.384739
2013-01-03  0.534587  0.530861  2.027259 -0.846161
2013-01-04  1.146014 -0.909681  0.545569  0.367446
2013-01-05 -0.351160 -1.342635  0.699540 -0.323459
2013-01-06  0.885765 -0.199023  0.571586  1.098581

In [205]:
df.sort_values(by='B')#特定のカラムの値でソート

                   A         B         C         D
2013-01-02 -0.384739  0.113362 -0.338618  0.064892
2013-01-04  0.367446  0.545569 -0.909681  1.146014
2013-01-06  1.098581  0.571586 -0.199023  0.885765
2013-01-05 -0.323459  0.699540 -1.342635 -0.351160
2013-01-01  0.736452  1.267368  0.134238 -0.130367
2013-01-03 -0.846161  2.027259  0.530861  0.534587

In [206]:
 df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.384739  0.113362 -0.338618  0.064892
2013-01-03 -0.846161  2.027259  0.530861  0.534587
2013-01-04  0.367446  0.545569 -0.909681  1.146014

In [207]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.736452  1.267368
2013-01-02 -0.384739  0.113362
2013-01-03 -0.846161  2.027259
2013-01-04  0.367446  0.545569
2013-01-05 -0.323459  0.699540
2013-01-06  1.098581  0.571586

In [208]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.384739  0.113362
2013-01-03 -0.846161  2.027259
2013-01-04  0.367446  0.545569

In [209]:
#ilocメソッド#Selection by Label
df
#locメソッド# Selection by Position

                   A         B         C         D
2013-01-01  0.736452  1.267368  0.134238 -0.130367
2013-01-02 -0.384739  0.113362 -0.338618  0.064892
2013-01-03 -0.846161  2.027259  0.530861  0.534587
2013-01-04  0.367446  0.545569 -0.909681  1.146014
2013-01-05 -0.323459  0.699540 -1.342635 -0.351160
2013-01-06  1.098581  0.571586 -0.199023  0.885765

In [210]:
#df.iloc[3:5,0:2]
#df.iloc[[1,2,4],[0,2]]
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.384739  0.113362 -0.338618  0.064892
2013-01-03 -0.846161  2.027259  0.530861  0.534587

In [211]:
#Boolean Indexing
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.736452  1.267368  0.134238 -0.130367
2013-01-04  0.367446  0.545569 -0.909681  1.146014
2013-01-06  1.098581  0.571586 -0.199023  0.885765

In [212]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.736452  1.267368  0.134238       NaN
2013-01-02       NaN  0.113362       NaN  0.064892
2013-01-03       NaN  2.027259  0.530861  0.534587
2013-01-04  0.367446  0.545569       NaN  1.146014
2013-01-05       NaN  0.699540       NaN       NaN
2013-01-06  1.098581  0.571586       NaN  0.885765

In [213]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2
#df2[df2['E'].isin(['two','four'])]
df2[df2.E.isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.846161  2.027259  0.530861  0.534587   two
2013-01-05 -0.323459  0.699540 -1.342635 -0.351160  four

In [214]:
#df1 = pd.read_csv('./pandas_date_ex/example1.csv', index_col='Date', parse_dates='Date')
#d = pd.read_csv('../tmp/renew_2016.csv' ,index_col='Date', parse_dates='Date')
#d = pd.read_csv('../tmp/renew_2016.csv' , index_col=0)
d = pd.read_csv('../tmp/renew_2016.csv' )
d.head(5)

        dates   hour   open   high    low  close  volume
0  2016-01-04  16:30  19010  19015  19005  19015    1766
1  2016-01-04  16:31  19015  19015  19005  19010     587
2  2016-01-04  16:32  19015  19015  19010  19015      69
3  2016-01-04  16:33  19015  19015  19010  19010      37
4  2016-01-04  16:34  19010  19025  19010  19025     569

In [215]:
nikkei_index = d.dates.values

In [216]:
d.head(2)

        dates   hour   open   high    low  close  volume
0  2016-01-04  16:30  19010  19015  19005  19015    1766
1  2016-01-04  16:31  19015  19015  19005  19010     587

In [217]:
minutes = d.iloc[:,1:6]
minutes.head(1)

    hour   open   high    low  close
0  16:30  19010  19015  19005  19015

In [218]:
nikkei_2016 = pd.DataFrame(np.array(minutes)
                                       ,index=nikkei_index
                                       ,columns=['hour', 'open','high','low','close'])
nikkei_2016.head(3)

             hour   open   high    low  close
2016-01-04  16:30  19010  19015  19005  19015
2016-01-04  16:31  19015  19015  19005  19010
2016-01-04  16:32  19015  19015  19010  19015

In [219]:
nikkei_2016.tail(3)

             hour   open   high    low  close
2016-12-26  05:28  19340  19340  19340  19340
2016-12-26  05:29  19340  19340  19340  19340
2016-12-26  05:30  19355  19355  19355  19355

In [220]:
tmp_nikkei_2016 = nikkei_2016.copy()

In [237]:
def updown(price) :
    if price.all() > 0 :
        return 'up'
    elif price.all() == 0 :
        return 'even'
    elif price.all() < 0 : 
        return 'down'

In [242]:
# 15:00 - 15:15 のボラを日付別に出したい
open_15 = tmp_nikkei_2016[tmp_nikkei_2016.hour == '15:00'].open
close_15 = tmp_nikkei_2016[tmp_nikkei_2016.hour == '15:15'].close
difference = open_15 - close_15
#difference.values[0]
#updown(difference.values)
difference.values.map(lambda x: x > 0:)
#difference.values > 0
#difference.values == 0
#difference.values < 0

array([60, -10, 10, 110, 20, 135, 5, -80, -20, 80, -15, 85, 15, 90, -75,
       15, -25, -10, -100, 0, -45, 30, -45, 90, -5, -35, -5, 140, 90, -10,
       75, -55, -15, 15, -40, 40, 30, -65, 125, -15, -10, -35, 0, -35, -25,
       20, 0, -45, -30, 15, 45, -20, 80, -5, 60, 35, 0, 0, -15, -60, 5,
       -20, 55, -5, -15, 0, -10, 20, 0, -45, -10, 55, -40, 20, 35, -55,
       -15, -10, 40, 45, 145, -5, 20, 5, 5, -10, -70, 55, -70, -50, 50, 15,
       -5, 0, 5, -5, -25, 20, 0, 10, -20, -40, -25, 15, -45, -25, 25, 15,
       15, 30, -15, 5, 20, -10, -40, 30, 20, -90, -85, 5, -30, 70, -20,
       -15, 40, 65, -15, -35, -20, -85, -25, -20, -75, 0, -25, -20, -35,
       -10, 35, -45, 55, -70, 25, 15, 25, 45, 15, 20, 20, -70, -15, -25,
       -15, -10, -25, 5, 5, -30, 25, 30, -45, 20, 0, 5, -25, -20, -5, 5,
       25, 25, -20, -10, 5, -5, 5, 40, 30, -60, 40, -10, -15, -25, -20, 45,
       -5, -20, -5, -5, -35, 15, -40, -35, 10, 15, 10, 5, 45, -25, -20, -5,
       25, -10, -10, -20, 0, 25, 0, -40, -30, 20, 35, -15, 15, 20, 0, -10,
       15, 10, -15, -30, 20, 25, 30, -75, 40, 95, 10, -35, 0, -25, -10,
       -70, 25, 30, -45, 0, -15, -35, -15, 15], dtype=object)

In [222]:
dates = tmp_nikkei_2016.groupby(tmp_nikkei_2016.index).size().index.values
dates[0]

'2016-01-04'